<!-- blog/templates/blog/base.html -->
<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="{% static 'styles.css' %}">
    <!-- Additional head content -->
</head>
<body>
    <h1>Welcome to our Blog</h1>
<a href="{% url 'blog:register' %}">Register</a>
    <div class="weather-container">
        <h2>Weather in {{ city }}</h2>
        <p>Temperature: {{ temperature }} °C</p>
        <p>Description: {{ description }}</p>
        <form action="{% url 'weather' %}" method="get">
            <label for="city">Enter city:</label>
            <input type="text" id="city" name="city" required>
            <button type="submit">Get Weather</button>
        </form>
          <script src="{% static 'script.js' %}"></script>
    </div>
    {% if posts %}
        <ul>
            {% for post in posts %}
                <li>
                    <h2>{{ post.title }}</h2>
                    <blockquote>Author: {{ post.author }}</blockquote>
                    {% if post.image %}
                        <img src="{{ post.image.url }}" alt="{{ post.title }}">
                    {% endif %}
                    <p>{{ post.content }}</p>
                    <p>Created on: {{ post.created_at }}</p>
                    <p>Likes: <span id="likes_count_{{ post.id }}">{{ post.likes.count }}</span></p>
                     <button class="like-btn" data-post-id="{{ post.id }}">Like</button>
                <h3>Comments:</h3>
                    {% for comment in post.comments.all %}
                      <li>{{ comment.user.username }}: {{ comment.comment_text }}</li>
                    {% endfor %}
                  </ul>
                      <form action="{% url 'blog:add_comment' post.id %}" method="post">
                    {% csrf_token %}
                    <input type="text" name="comment_text" placeholder="Add a comment">
                    <button type="submit">Comment</button>
                  </form>
                {% endfor %}
    <script>
  // jQuery code to handle like button click
  $('.like-btn').click(function() {
    var postId = $(this).data('post-id');
    $.ajax({
      url: '/like/' + postId + '/',
      method: 'GET',
      success: function(data) {
        if (data.liked) {
          alert('Post liked!');
        } else {
          alert('Like removed!');
        }
        $('#likes_count_' + postId).text(data.likes_count);
      }
    });
  });
</script>
    {% else %}
        <p>No blog posts available.</p>
    {% endif %}
</body>
</html>
