<!-- blog/templates/blog/home.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <style>
        /* Additional styles to make images less visible */
        ul {
            list-style: none;
            padding: 0;
        }

        li {
            margin-bottom: 20px;
        }

        img {
            max-width: 100%;
            height: auto;
            opacity: 0.7; /* Adjust the opacity as needed */
            transition: opacity 0.3s ease-in-out;
        }

        img:hover {
            opacity: 1;
        }
    </style>
</head>
<body>
    <h1>Welcome to our Blog</h1>

    <div class="weather-container">
        <h2>Weather in {{ city }}</h2>
        <p>Temperature: {{ temperature }} °C</p>
        <p>Description: {{ description }}</p>
        <form action="{% url 'weather' %}" method="get">
            <label for="city">Enter city:</label>
            <input type="text" id="city" name="city" required>
            <button type="submit">Get Weather</button>
        </form>
    </div>
    {% if posts %}
        <ul>
            {% for post in posts %}
                <li>
                    <h2>{{ post.title }}</h2>
                    {% if post.image %}
                        <img src="{{ post.image.url }}" alt="{{ post.title }}">
                    {% endif %}
                    <p>{{ post.content }}</p>
                    <p>Created on: {{ post.created_at }}</p>
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <p>No blog posts available.</p>
    {% endif %}
</body>
</html>